@using NajdiDoktoraApp.StaticData
@model SearchResults

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Hledání</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="overrideBody">
<div class="fakeNavbar">Najdi doktora</div>
<!---->
<div>
    <form asp-action=SearchFor class="searchPart">
        <input type="text" class="addressBar" rows="1" placeholder="Adresa"/> <!--add  asp-for-->
        <button type="button" class="blueButtonMap">
                <i class="fa-solid fa-location-dot"></i></button>
        <select class="typeBar" asp-for="Parameters.Type"><!--add  asp-for-->
            @foreach (var item in EnumMapper.ClinicTypeMap)
            {
                <option id="@item.Type" value="@item.ClinicName">@item.ClinicName</option>
            }
        </select>
        <button type="submit" class="blueButtonSearch">Hledat</button>
    </form>
</div> 
<hr class="underline"/>
<div class="results">
    @foreach (var item in Model.Results)
    {
        <div class="individualResult">
            <div class="individualResultTitle">
                <a>@item.Name</a>
                @if (item.Status == "OPERATIONAL")
                {
                    <a>Nyní otevřeno</a>
                }
                else
                {
                    <a>Nyní zavřeno</a>
                }
            </div>
            <div class="individualResultItems">
                <div class="individualResultText">
                    <i class="fa-solid fa-location-dot"></i><p>: @item.FormattedAddress</p>
                    <i class="fa-solid fa-phone"></i><p>: @item.FormattedPhoneNumber</p>
                    <i class="fa-solid fa-globe"></i><p>: @item.Website</p>
                    <i class="fa-solid fa-magnifying-glass"></i><p>: @item.ReviewCount</p>
                    <i class="fa-solid fa-star"></i><p>: @item.AverageRating</p>
                    <i class="fa-solid fa-map-location-dot"></i><p>: @item.Distance.ToString("0.##") km</p>
                    <iframe src="@item.EmbedLink"></iframe>
                </div>
            </div>
        </div>
    }
</div>
</body>
</html>